/*Import link for the Space Grotesk font
from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
    font-family: "Space Grotesk", sans-serif;
    /*Font from fonts.google.com*/
    font-size: 20px;
    scroll-behavior: smooth;
    background-color: rgb(228, 219, 166);
}

/*NAVBAR*/
.nav-bar {
    top: 0;
    z-index: 9;
}

ul {
    display: flex;
    /*Creates a flex container so
    elements will adjust to fill space available
    and it will place elements side by side
    horizontally, instead of one on top of another*/
    list-style-type: none;
    /*Removes default styling
    for unordered list elements*/
    align-items: center;
    margin: -8px, -8px, 0px, 8px;
    background-color: rgb(2, 71, 10);
    border: 2px solid white;
    outline: 10px solid rgb(2, 71, 10);
}

a {
    display: block;
    /*Makes <a> elements
    in the list vertical instead of horizontail*/
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800px;
    color: rgb(228, 219, 166);
    padding: 20px;
    /*Puts 20px of space between 
    <a> elements*/
    text-decoration: none;
    /*Removes underline from
    each link*/
}


/*HEADERS*/

h1 {
    font-size: 70px;
    text-align: center;
    color: rgb(2, 71, 10);
    text-shadow: 3px 3px white;
}

h3 {
    font-size: 40px;
    background-color: rgb(2, 71, 10);
    color: rgb(228, 219, 166);
    text-align: center;
    border: 2px solid white;
    outline: 10px solid rgb(2, 71, 10);
    margin: auto;
    padding: 20px;
}

.center {
    margin: auto;
    width: 50%;
}


/*CONTACT US*/

form {
    display: table;
    padding: 15px;
    margin: auto;
}

form input {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    border: 3px solid grey;
    border-radius: 5px;
    padding: 6px;
    margin: 10px 15px 10px 0px;
    /*Gives space between input field boxes*/
}

/*FOOTER*/

footer {
    background-color: rgb(2, 71, 10);
    font-size: 20px;
    text-align: center;
    color: rgb(228, 219, 166)
}

/*LIGHT BOX */

/*targets column class elements that are nested within elements with row class*/
.row > .column {
    margin-bottom: 50px;
    display: flex;
    width: 33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create three equal columns that floats next to eachother */
  .column {
    float: left;
    width: 33%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }