/*Set font family for the whole document*/
html {
    font-family: Arial, sans-serif;
}


.content-container {
    margin-right: 15%;
    margin-left: 15%;
}

.topnav {
    background-color: #7b7485;
    overflow: hidden;
    margin-bottom: 18px;
    font-weight: bold;
}

/*Style the links inside the nav bar*/
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Change the color of the links on hover*/
.topnav a:hover {
    background-color: #000080;
    color: white;
}

/*Add color to the active link*/
.topnav a.active{
    background-color: #000080;
    color: white;
}

/*Styling the informational tiles on the page*/
.info_tile {
    border: 0px solid black;
    box-shadow: 4px 5px 10px gray;
    margin-bottom: 18px;
    padding: 25px;
} 

/*Apply styling only to paragraphs inside "info tile"*/
.info_tile p {
    text-align: justify;
}

/*Styles the 'Impact Paragraph*/
#impact_para{
    font-size: x-large;
    padding: 78px;
}

/*Styles the div that holds the image and text*/
.container {
    display: table-row;
}
.box1 {
    display: table-cell;
    vertical-align: top;
    padding-right: 14px;
}

.box2 {
    display: table-cell;
}